<ng-container *ngIf="articles$ | async as articles">
  <h1>Articles</h1>
  <a class="article" [routerLink]="['article', article.id]" *ngFor="let article of articles">
    <h3>{{article.date | date}} - {{article.title}}</h3>
    <div class="image">
      <img [src]="article.imageUrl" alt="">
    </div>
    <p>
      {{article.text | textCrop}}
    </p>
    <div class="footer">
      <span class="author">
        Author:
        <a href="#" (click)="openAuthor(article.author.id); $event.stopPropagation()">{{article.author.name}}</a>
      </span>
      <span>Comments: {{article.comments.totalCount}}</span>
    </div>
  </a>
  <div>
    <button type="button"
            *ngFor="let page of pagesCount$ | async | numbers"
            (click)="loadPage(page)">{{page}}</button>
  </div>
</ng-container>
