<nav>
  <span class="menu">
    <a href="#" routerLink="/">Articles</a>

    <ng-container *ngIf="isAuthenticated$ | async">
      <a href="#" routerLink="create">Create</a>
    </ng-container>

    <a href="#" routerLink="contacts">Contacts</a>
  </span>

  <span class="auth">
    <ng-container *ngIf="isAuthenticated$ | async else loginTemplate">
      <a href="#" (click)="logout(); $event.preventDefault();">Logout</a>
    </ng-container>

    <ng-template #loginTemplate>
      <a href="#" routerLink="login">Login</a>
    </ng-template>
  </span>
</nav>
